# =============================
# Gradle
# =============================
.gradle

# =============================
# IntelliJ
# =============================
*.iml
.idea

# =============================
# Burp
# =============================
lib/burpsuite_pro_*.jar
lib/burpsuite_free_*.jar

build/
**/.DS_Store
/bin/

# MergeTool
*.orig

# Profile files
.profile
